cat > .env.example <<'EOF'
PROJECT_BUCKET=mlops-fraud-detection-atharva-1777831686
AWS_REGION=ap-south-1
PROJECT_NAME=mlops-fraud-detection
SAGEMAKER_ROLE_ARN=arn:aws:iam::376142073754:role/MLOpsSageMakerRole
GLUE_ROLE_ARN=arn:aws:iam::376142073754:role/MLOpsGlueCrawlerRole
EOF