# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.ipynb_checkpoints/

# Data — never commit datasets
data/
*.csv
*.parquet

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
!terraform.tfvars.example

# AWS
.aws/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
